<nav class="navbar">
    <ul>
      <li><a routerLink="/manage-courses" routerLinkActive="active">ניהול קורסים</a></li>
      <li><a routerLink="/my-courses" routerLinkActive="active">לקורסים שלי</a></li>
      <li><a routerLink="/courses" routerLinkActive="active">כל הקורסים</a></li>    
      <li><a routerLink="/login" routerLinkActive="active">כניסה</a></li>    
      <li><a routerLink="/register" routerLinkActive="active">רישום</a></li>
      <li><a routerLink="/home" routerLinkActive="active">דף הבית</a></li>
    </ul>
  </nav>
  